<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="sk.kcorp.cordova.ios-security"
        version="0.3.0">
    <name>IOS Security</name>
    <description>IOS Security</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <repo>https://github.com/robertklein/cordova-ios-security.git</repo>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
    </platform>

</plugin>
